.container {
  button {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: 0.4s;
  }
}
