.container {
  button {
    cursor: pointer;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    color: white;
    font-weight: 600;
    width: 100%;
  }
}
